Repository Matheus-C-Martins/news: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add Prettier, Husky, and lint-staged to package.json
  package.json
Due: prettier --write

perf: implement lazy loading for all routes
  docs/performance.md
  src/App.vue
  src/components/RouteLoader.vue
  src/router.js
Due: prettier --write, eslint --fix

perf: implement comprehensive image optimization
  docs/image-optimization.md
  src/components/LazyImage.vue
  src/components/newsCard.vue
Due: prettier --write, eslint --fix

feat: add GitHub repository enhancements
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
  .vscode/extensions.json
  .vscode/settings.json
  CODE_OF_CONDUCT.md
Due: prettier --write

fix: resolve package.json JSON syntax errors
  package.json
Due: prettier --write

fix: use npm install instead of npm ci for deployment
  .github/workflows/deploy.yml
Due: none

docs: remove duplicate .md files from root (moved to /docs)
  .env.production
  CI_CD_IMPROVEMENTS.md
  CSP_CONFIGURATION.md
  ENVIRONMENT_SETUP.md
  GITHUB_ACTIONS_SETUP.md
  LANGUAGE_SETUP.md
  PROXY_SETUP_GUIDE.md
  SETTINGS_INTEGRATION.md
  SETUP.md
  SETUP_GUIDE.md
  package-lock.json
Due: prettier --write

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Due: prettier --write

fix: update vitest config to use v8 coverage provider
  vitest.config.js
Due: prettier --write, eslint --fix

fix: replace c8 with @vitest/coverage-v8
  package.json
Due: prettier --write

fix: "coverage.provider: c8" is not supported anymore, using "coverage.provider: v8" instead
  .github/pull_request_template.md
  package-lock.json
Due: prettier --write

fix: Add missing toggleDarkMode and setLanguage functions for tests
  src/composables/useSettings.js
Due: prettier --write, eslint --fix

fix: Update error message to match test expectations
  src/services/newsApi.js
Due: prettier --write, eslint --fix

fix: Add data-testid for fallback icon and card CSS class for tests
  src/components/newsCard.vue
Due: prettier --write, eslint --fix

fix: Fix localStorage handling and initialization in useSettings
  src/composables/useSettings.js
Due: prettier --write, eslint --fix

fix: Remove vitest/globals from eslint env to fix production build
  package.json
Due: prettier --write

fix: Ensure dark mode initializes properly by using proper lifecycle
  src/composables/useSettings.js
Due: prettier --write, eslint --fix

fix: Initialize useSettings in App.vue to ensure dark mode loads
  src/App.vue
Due: prettier --write, eslint --fix

feat: Add CSS variables for light and dark mode theming
  src/assets/styles/variables.css
Due: prettier --write

feat: Import global CSS variables for theming
  src/main.js
Due: prettier --write, eslint --fix

fix: Update ESLint rules to allow console.log and debug statements
  package.json
Due: prettier --write

fix: Clean up duplicate localStorage keys and set default language to English
  src/composables/useSettings.js
Due: prettier --write, eslint --fix

fix: Use useSettings composable instead of direct localStorage access
  src/components/settings.vue
Due: prettier --write, eslint --fix

fix: Remove unused import getCurrentLanguage to fix build error
  src/composables/useSettings.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,vue}) or (any of: *.{json,css,scss,md})
  eslint --fix: any of: *.{js,jsx,vue}
